.encabezado {
  width: 100%;
  height: 90px;
  background-color: #98989A;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}
.encabezado img {
  width: 96%;
  height: 180px;
  bottom: -15px;
  position: relative;
  opacity: 0.25;
}
.encabezado h2 {
  left: 5%;
  height: 100%;
  font-family: Jockey One, 'Source Sans Pro';
  font-size: 36px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 105vh;
  width: 98%;
  padding: 10px 30px;
  margin: auto;
}
.container p,
.container h3{
    width: 100%;
    text-align: justify;
}
.container p{
  font-size: 15px;
}
.container h3{
  font-size: 21px;
  margin-top: 12px;
  margin-bottom: 2px;
}
.container .No_reembolso{
  font-size: 35px;
  margin: 0;
  font-weight: bold;
}